.post {
	padding: 20px 0;
	width: 800px;
	margin: 0 auto;
	font-family: Georgia, "Times New Roman", Times, serif;
}
.shortpost {
	padding: 20px 0;
	width: 300px;
	margin: 0 auto;
	font-family: Georgia, "Times New Roman", Times, serif;
}
.news {
	background-color: #00ff5e;
}
.magazine {
	background-color: #268200;
	color: white;
}
.videoreportage {
	background-color: #ff5d60;
}
.playlist {
	background-color: #f00;
	color: white;
}
.photoreportage {
	background-color: #3cceff;
}
.album {
	background-color: #0080ff;
	color: white;
}
.collection {
	background-color: #ccc;
}
.pb_header {
	margin-bottom: 10px;
	padding: 0 20px;
}
.post_id {}
.post_creationDate {
	float: right;
	font-size: 14px;
}
.post_categories{
	float: left;
	font-size: 14px;
}
.post_header {
	margin-bottom: 10px;
	padding: 0 20px;
}
.post_headline {
	font-size: 16px;
}
.post_title {
	font-size: 34px;
	font-weight: bold;
}
.post_subtitle {
	font-style: italic;
	font-size: 20px;
}
.post_content {
	font-size: 18px;
	text-align: justify;
	margin-bottom: 10px;
	padding: 0 20px;
}
.post_authorname {
	font-size: 18px;
	float: right;
	font-weight: bold;
	text-decoration: none;
}
.post_footer {
	background-color: rgba(255,255,88,0.5);
	margin-bottom: 10px;
	padding: 5px 20px;
}
.post_modificationDate {
	font-size: 14px;
}
.post_tags {
	font-size: 16px;
}
.post_visible {}
.post_place {
	text-transform: uppercase;
}
.post_comments {
	background-color: rgba(179,179,179,0.5);
	padding: 10px 20px;
}
.comment {
	font-size: 16px;
	text-align: justify;
}
.post_vote {
	font-size: 16px;
	float: right;
}
.clear {
	clear: both;
}
a {
	text-decoration: none;
	color: black;
}