img {
	border: none;
}
body { 	margin: 5px 0pt 0pt;
	text-align: center;
	background-color: #ffffff;
}
#body_content {
	width: 900px;
	margin: 0 auto;
}
#header_layer {
	width: 700px;
	height: 150px;
	margin:  0 auto;
}
#title {
	float: left;
}
#navigation {
	float: right;
	margin-top: 50px;
}
#navigation input {
	width: 70px;
}
#body_layer {
	width: 100%;
}
#body_main_content {
	float: left;
	width: 480px;
	background-color: #e6e6e6;
	padding: 10px;
	margin: 0 0 0 200px;
}
#footer_layer {
	padding: 5px;
	background-color: gray;
	margin: 0 auto;
	color: white;
	font-size: 10px;
	font-style: italic;
}
.insertion_block {
	float: right;
	color: red;
	width: 190px;
}
.insertion {
	border: 1px solid #fd494a;
	padding: 5px;	
	height: 100px;
	margin: 10px 0;
}
.text_content {
	background-color: #ccc;
	padding: 10px;
	margin-bottom: 20px;
}
.post_footer {
	margin-top: 5px;
	border-top: 1px dotted #fff;
	padding-top: 5px;
	font-style: italic;
	font-size: 14px;
}
.post_title, .text_title {
	font-size: 20px;
	text-decoration: none;
	font-variant: small-caps;
	font-weight: bold;
	margin-bottom: 5px;
}
.post {
	text-align: justify;
}
.comments_postit {
	text-align: right;
	float: right;
	width: 100px;
	font-weight: normal;
	font-style: normal;
}
textarea {
	width: 100%;
}