ioesisto.kpf
v0/*
plugin da installare (anche sul server)/*
v02/db_schema.dbs
.htaccess
.buildpath
.project
.settings/.jsdtscope
.settings/org.eclipse.php.core.prefs
.settings/org.eclipse.wst.jsdt.ui.superType.container
.settings/org.eclipse.wst.jsdt.ui.superType.name
.settings/org.eclipse.core.resources.prefs/v0
.settings/org.eclipse.core.resources.prefs
v03/ioesisto_db_v3.sql