ioesisto.kpf
v0/*
plugin da installare (anche sul server)/*
v02/db_schema.dbs
.htaccess
.buildpath
.project
.settings/.jsdtscope
.settings/org.eclipse.php.core.prefs
.settings/org.eclipse.wst.jsdt.ui.superType.container
.settings/org.eclipse.wst.jsdt.ui.superType.name
.settings/org.eclipse.core.resources.prefs/v0
.settings/org.eclipse.core.resources.prefs
.DS_Store
v04/db_schema.dbs
v04/log/*
v04/Uploads/*
v04/uploads/*
v03/db_schema.dbs
v03/ioesisto_db_v3.sql
v02/maps/prova.php
v02/partner/Partner.php
v02/partner/PartnerManager.php
v02/partner/PartnerPage.php
v02/post/collection/CollectionPage.php
v02/post/contest/ContestPage.php
website/PublicHi/*
