body{
	background: url(img/stripes.png) repeat;
	margin: 0;
	padding: 0;
}

/*---------------------- clear ----------------------*/
.clear {	
	clear: both;
}

/*---------------------- header ----------------------*/
#headerBackground{
	width: 100%;
	background: #000000;
}
#header{
	width: 900px;
	height: 220px;
	margin: 0 auto;
	background: url(img/logo.png) no-repeat;
	position:relative;
}


/*---------------------- operationsMenu ----------------------*/
#operationsMenu{
	width: 900px;
	margin: 0 auto;
	position: absolute;
	top: 185px;
}
#operations{
	width: 600px;
	margin: auto;
}
.operationsMenuButton{
	text-align: center;
	width: 99px;
	height: 35px;
	background: orange url(img/button.png) -60px;
	border-left: 1px solid 000;
	float: left;
}

.operationsMenuButton a{
	text-decoration: none;
	text-align: center;
	color: #000000;	
}

/*---------------------- categoriesMenu ----------------------*/
#categoriesMenu{	
	width: 100%;
	background:orange url(img/button.png) -60px;
}
#categories{
	width: 900px;
	margin: 5px auto;
} 
.categoriesMenuButton{
	text-align: center;
	width: 99px;
	height: 35px;
	/*margin: 0 1px 0 1px;*/
	border-left: 1px solid 000;
	background: url(img/button.png) -60px;
	float: left;
}
.categoriesMenuButton a{
	text-decoration: none;
	text-align: center;
	color: #000000;	
}

.categoriesMenuButton.lastButton, .operationsMenuButton.lastButton {
	width: 98px;
	border-right: 1px solid 000;
}

/*---------------------- page ----------------------*/
#content {
	width: 900px;
	margin: 0 auto;
}



/*---------------------- home.html ----------------------
  ---------------------- articles -----------------------*/
#articles{
	width: 600px;
	float: left;
}
#articles .news{
	width: 590px;
	margin: 0 10px 0 0;
	background: #FFFFFF;
}
#articles .title{
	padding: 0 15px;
}
#articles .title a:link, a:visited{
	text-decoration: none;
	color: #000000;	
}
#articles .title a:hover{
	text-decoration: underline;
}
#articles .text{
	padding: 0 15px;
	text-align: justify;
}
.text img{
	padding: 0 10px 5px 0;
	float: left;
}
#articles .author{
	font-style: italic;
	padding: 0 15px 5px 15px;
	text-align: right;
}

.comments .avatarComments{
	width: 55px;
	padding: 5px 0 0 5px;
	float: left;
}
.avatarComments img{
	border: 1px solid #000000;
	
}
#authorText{
	width: 240px;
	background: #FFFFFF;
	float: left;
}
.commentsAuthor{
	text-align: left;
}
.commentsText{
	text-align: left;
}
.bold{
	margin: 0;
	padding: 0;
	background: #000000;
	color: #FFFFFF;
	
}
/*---------------------- shortArticles ----------------------*/
#shortArticle{
	width: 300px;
	float: left;
}
#shortArticle .news{
	width: 300px;
	background: #FFFFFF;
}
#shortArticle .title{
	padding: 0 15px;
}
#shortArticle .title a:link, a:visited{
	text-decoration: none;
	color: #000000;	
}
#shortArticle .title a:hover{
	text-decoration: underline;
}
#shortArticle .text{
	padding: 0 15px;
	text-align: justify;
}
#shortArticle .author{
	font-style: italic;
	padding: 0 15px 5px 15px;
	text-align: right;
}

/*-----------ALTRO-----------*/
.medium {
	width: 410px;
	padding: 10px;
	margin: 10px 10px 0 0;
	float: left;
}
.large {
	width: 570px;
	padding: 10px;
	margin: 10px 10px 0 0;
	float: left;
	background: rgba(255, 255, 255, 0.6);
}
.largest {
	width: 880px;
	margin-top: 10px;
	padding: 10px;
	float: left;
	background: rgba(230, 230, 230, 0.5);
}
.side {
	width: 280px;
	padding: 10px;
	margin: 10px 10px 0 0;
	float: left;
	background: rgba(255, 255, 255, 0.4);
}
.right {
	margin-right: 0;
	float: right;
}
.comments{
	width: 300px;
	background: rgba(255, 255, 255, 0.4);
	margin: 10px 10px 0 0;
	float: left;
}
.seeAlso{
	width: 260px;
	margin-top: 10px;
	background: #FFFFFF;
	float: left;
}