body{
    background: #FFFFFF;
    margin: 0 auto;
    padding: 0;
    font-family: Helvetica, Arial;
    color: #000000;
}

body p{
	margin: 0;
	padding: 0;
}

/*---------------------- header ---------------------- */
#header{
	width: 916px;
	margin: 0 auto;
	background: #FFFFFF;
}

/*---- WIDGET ----*/
#widget{
	height: 35px;
	width: 916px;
}
#widget p{
	display: inline;
}

#widgetLeft{
	width: 12px;
	height: inherit;
	background: url(img/tabLeft.png) no-repeat;
}

#widgetCenter{
	width: 892px;
	height: inherit;
	background: #ECECEC;
}

#widgetCenterLeft{
	width: 445px;
	height: inherit;
	background: #ECECEC;
}
#widgetCenterLeft form{
	padding: 7px 0px;

}

#login{
	margin-left: 5px;
}
#widgetCenterLeft input{
	/*border: none;*/
}
#widgetCenterLeft .button{
	height: 22px;
	width: 67px;
	background: url(img/button.png) center no-repeat;
	border: none;	
}
#widgetCenterLeft .button:active{
	height: 22px;
	width: 67px;
	color: #ECECEC;
	background: url(img/buttonRoll.png) center no-repeat;
}
.welcome{
	height: 30px;
	width: 70px;
	line-height: 2.8;
	font-size:80%;
}
.welcome a{
	padding: 6px 14px;
	background: url(img/button.png) center no-repeat;
	text-align: center;
	text-decoration: none;
	color: #000000;
	border: none;
}
.welcome a:active{
	height: 30px;
	width: 70px;
	color: #ECECEC;
	background: url(img/buttonRoll.png) center no-repeat;
	text-decoration: none;
}

#widgetCenterRight{
	width: 445px;
	height: inherit;
	background: #ECECEC;
}

#wsearch{
	height: 32px;
	width: 159px;
	margin-left: 5px;
	line-height: 2.4;
	float: right;
}
#wsearch input[type=submit] {
	height: 24px;
	width: 20px;
	line-height: 2;
	border: none;
	background: url(img/magnify.png) center no-repeat;
}

#meteo{
	height: 35px;
	width: 60px;
	background: url(img/meteoButton.png);
	float: right;
}
#meteo img{
	margin-top: 8px;
	margin-right: 13px;
}

#widgetRight{
	width: 12px;
	height: inherit;
	background: url(img/tabRight.png) no-repeat;
}

/*---- MENU CITY ----*/
#menuCity{
	margin: 0;
	padding: 8px 0;
	font-size: 80%;
	font-variant: small-caps;
	font-weight: bold;
	text-align: center;
	background: #4B658F;
}
#menuCity li{
	margin: 0 3px;
	display: inline;
}
#menuCity a{
    text-decoration: none;
    color: #ECECEC;
}
#menuCity a:hover{
    text-decoration: underline;
}

/*---- LOGO ----*/
#logo{
    width: 916px;
}
#logo img{
    width: 272px;
    height: 125px; 
    margin: 10px 321.5px;
}

/*---- DATE ----*/
#date{
    height: 22px;
    margin-top: -10px;
    color:  #838383;
    font-size: 75%;
    font-style: italic;
    text-align: center;	
}

/*---- MENU CATEGORIES ----*/
#menuCategories{
	width: 916px;
	margin-top: -13px;
	line-height: 2.2;
	font-size: 70%;
	font-variant: small-caps;
	font-weight: bold;
	text-align: center;
	background: #4B658F;
}
#menuCategories ul{
	height: 28px;
	padding: 5px 0 0 0;
	position: relative;
	display: block;
}
.menuCategoriesLink, .menuCategoriesSubLink li {
	list-style: none;
	float: left;
}
#menuCategories ul ul {
	width: 916px;
	height: 28px;
	background: #ECECEC;
	visibility: hidden;
	position: absolute;
	margin-top: 28px;
	left: 0;			
}

#menuCategories li a{
	height: 28px;
	display: block;
	text-decoration: none;
	text-align: center;
	color: #ECECEC;
} 
#menuCategories li li a{
	width: 83px;
	color: #4B658F;
}
#menuCategories li li a:hover{
	text-decoration: underline;
}
#menuCategories ul li:hover a{
	color: #4B658F;
	background: #ECECEC;
}
.menuCategoriesLink > div {
	float:left;
}
.menuCategoriesLink > div > div {
	float:left;
}
.menuCategoriesLink:hover .menuCategoriesLinkTabLeft {
	background: url(img/menuCategoriesLinkLeft.png) bottom no-repeat;
}
.menuCategoriesLink:hover .menuCategoriesLinkTabRight {
	background: url(img/menuCategoriesLinkRight.png) bottom no-repeat;
}
#menuCategories ul li:hover ul{
	visibility: visible;
}
.menuCategoriesLink{
	height: 28px;
}
.menuCategoriesLinkTabLeft{
	width: 16px;
	height: 30px;
	margin-left: 2px;
	float:left;
}
.menuCategoriesLinkTabRight{
	width: 16px;
	height: 30px;
	margin-right: 2px;
	float:left;
}


/*---------------------- page ----------------------*/

/* --- HOMECONTENT --- */
#homeContent{
	width: 916px;
	margin: 30px auto;
}

/* --- HOMECONTENTTOP --- */
#homeContentTop{
    width: 916px;
}

/* --- MOSTRECENT --- */
#mostRecent{
    width: 608px;
    margin-top: 12px;
}
#mostRecent ul{
    padding: 0;
    margin: 0;
    width: inherit;
}
#mostRecent:first-child li{
    display: block;
    list-style: none;
}

.menuMostRecentList{
    margin-top: 12px;
    margin-left: -28px;
    display: block;
    list-style: none;
}
.firstMenuMostRecentTabLeft{
    width: 26px;
    height: 26px;
    margin-left: 28px;
    background: url(img/FirstMenuMostRecentTabLeft.png) right no-repeat;   
}
.firstMenuMostRecentTabLeftUse{
    width: 38px;
    height: 38px;
    margin-left: 28px;
    background: url(img/homeNewsTabLeft.png) right no-repeat;   
}
.menuMostRecentTabLeft{
    width: 26px;
    height: 26px;
    background: url(img/menuMostRecentTabLeft.png) right no-repeat;
}
.menuMostRecentTabCenter{
    border-top: 2px solid #ECECEC;
    border-bottom: 2px solid #ECECEC;
    background: #4B658F;
}
.menuMostRecentTabCenterUse{
    height: 34px;
    border-top: 2px solid #ECECEC;
    border-bottom: 2px solid #FFFFFF;
    background: #FFFFFF;
}
.menuMostRecentTabCenter a{
    text-decoration: none;
    line-height: 1.4;
    color: #ECECEC;
}
.menuMostRecentTabCenter p{
    margin: 0;
    padding: 0;
    line-height: 2;
    font-size: 120%;
    font-weight: bold;
    display: block;
    color: #4B658F;
}
.menuMostRecentTabRight{
    width: 26px;
    height: 26px;
    background: url(img/menuMostRecentTabRight.png) left no-repeat;
}
.menuMostRecentTabRightUse{
    width: 38px;
    height: 38px;
    background: url(img/homeNewsTabRight.png) left no-repeat;   
}
#mostRecentTop{
    width: inherit;
}
#mostRecentArticlesTopLeft{
    width: 18px;
    height: 18px;
    margin-top: -2px;
    border-left: 2px solid #ECECEC;
    border-top: 2px solid #ECECEC;
    /*background: url(img/mostRecentArticlesTopLeft.png);*/
}
#mostRecentArticlesTopCenter{
    width: 568px;
    height: 20px;
    margin-top: -2px;
    border-top: 2px solid #ECECEC;
}
#mostRecentArticlesTopRight{
    width: 18px;
    height: 18px;
    margin-top: -2px;
    border-right: 2px solid #ECECEC;
    border-top: 2px solid #ECECEC;
    /*background: url(img/mostRecentArticlesTopRight.png);*/    
}
#mostRecentArticles{
    width: 604px;
    height: 308px;
    margin-top: -10px;
    border-right: 2px solid #ECECEC;
    border-left: 2px solid #ECECEC;
}
#mostRecentArticles p{
    margin: 0 10px 10px 10px; 
    text-align: justify;
    font-size: 12px;
    font-style: italic;
    font-weight: bold;
    
}
#mostRecentSubTitle{
    margin: 10px;
    text-align: center;
    color: #999999;
}
#mostRecentTitle{
    padding: 0;
    margin: 5px;
    text-align: center;
    color: #4B658F;
}
#mostRecentImg{
    width: 290px;
    height: 276px;
    margin: 0 10px 10px 10px;
    background: url(img/mostRecentImage.jpg);
    float: right;
}
#mostRecentImg img{
    width: 50px;
    height: 50px;
    margin-top: 226px;
    margin-left: 240px;
}
#mostRecentBottom{
    width: inherit;
}
#mostRecentArticlesBottomLeft{
    width: 18px;
    height: 18px;
    border-left: 2px solid #ECECEC;
    border-bottom: 2px solid #ECECEC;
    /*background: url(img/mostRecentArticlesBottomLeft.png);*/
}
#mostRecentArticlesBottomCenter{
    width: 568px;
    height: 18px;
    border-bottom: 2px solid #ECECEC;
}
#mostRecentArticlesBottomRight{
    width: 18px;
    height: 18px;
    border-right: 2px solid #ECECEC;
    border-bottom: 2px solid #ECECEC;
    /*background: url(img/mostRecentArticlesBottomRight.png);*/   
}


/* --- HOMECONTENTBOTTOM --- */
#homeContentBottom{
    width: inherit;
}

/* --- HOMENEWS --- */
.homeNews{
    width: 300px;
    margin-top: 12px;
    margin-left: 8px;
}
.firstHomeNews{
    margin-left: 0;
}
.homeNews ul{
    padding: 0;
    margin: 0;
    width: inherit;
}
.homeNews li{
    margin-left: 28px;
    display: block;
    list-style: none;
}
.homeNewsTabLeft{
    width: 38px;
    height: 38px;
    background: url(img/homeNewsTabLeft.png) right no-repeat;
}
.homeNewsTabCenter{
    height: 34px;
    border-top: 2px solid #ECECEC;
    border-bottom: 2px solid #FFFFFF;
    background: #FFFFFF;
}
.homeNewsTabCenter span{
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 3px;
    padding: 0;
    line-height: 2;
    font-weight: bold;
    font-size: 110%;
    display: block;
    color: #000000;
}
.homeNewsTabCenter p{
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 3px;
    padding: 0;
    line-height: 2;
    font-weight: bold;
    font-size: 110%;
    display: block;
    color: #4B658F;
}
.homeNewsTabRight{
    width: 38px;
    height: 38px;
    background: url(img/homeNewsTabRight.png) left no-repeat;
}
.homeNewsTop{
    width: inherit;
}
.homeNewsTopLeft{
    width: 18px;
    height: 18px;
    margin-top: -2px;
    border-left: 2px solid #ECECEC;
    border-top: 2px solid #ECECEC;
    /*background: url(img/homeNewsTopLeft.png);*/
}
.homeNewsTopCenter{
    width: 260px;
    height: 18px;
    margin-top: -2px;
    border-top: 2px solid #ECECEC;
}
.homeNewsTopRight{
    width: 18px;
    height: 18px;
    margin-top: -2px;
    border-right: 2px solid #ECECEC;
    border-top: 2px solid #ECECEC;
    /*background: url(homeNewsTopRight.png);*/    
}
.homeNewsCenter{
    width: 296px;
    height: 300px;
    margin-top: 0px;
    border-right: 2px solid #ECECEC;
    border-left: 2px solid #ECECEC;
}
.homeNewsBottom{
    width: inherit;
}
.homeNewsBottomLeft{
    width: 18px;
    height: 18px;
    border-left: 2px solid #ECECEC;
    border-bottom: 2px solid #ECECEC;
    /*background: url(img/homeNewsBottomLeft.png);*/
}
.homeNewsBottomCenter{
    width: 260px;
    height: 18px;
    border-bottom: 2px solid #ECECEC;
}
.homeNewsBottomRight{
    width: 18px;
    height: 18px;
    border-right: 2px solid #ECECEC;
    border-bottom: 2px solid #ECECEC;
    /*background: url(img/homeNewsBottomRight.png);*/
}

/* --- VIDEONEWS --- */

#videoNewsTitle{
    width: 280px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}
#videoNewsTitle h2{
    margin: 0;
    padding: 0;
    font-size: 130%;
    text-align: center;
    color: #000000;
}
#videoNewsYouTube{
    margin-left: 8px;
}
.videoNewsYouTube{
    width: 280px;
    height: 230px;
}
#videoNewsAuthor{
    width: 280px;
    margin-top: 10px;
    margin-right: 5px;
}
#videoNewsAuthor p{
    margin: 0;
    padding: 0;
    font-size: 80%;
    font-style: italic;
    text-align: right;
}

/* --- POPULARNEWS --- */
#popularNewsTitle{
    width: 280px;
    margin-left: auto;
    margin-right: auto;
}
#popularNewsTitle h2{
    margin: 0;
    padding: 0;
    font-size: 180%;
    text-align: center;
    color: #000000;
}
#popularNewsImg{
    margin-left: 8px;
}
#popularNewsImg img{
    width: 280px;
    height: 230px;
    background: #000000;
}
#popularNews:hover h2{
    color: #4B658F;
}
/* --- FLASHNEWS --- */
.flashNewsLink{
    text-decoration: none;
}
.flashNewsLink:hover h2{
    color: #4B658F;
}
.flashNewsFirst{
    width: 280px;
    height: 90px;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
}
.flashNews{
    width: 280px;
    height: 90px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
}
.flashNewsImg{
    width: 95px;
    height: inherit;
    margin-right: 5px;
    background: #000000;
    
}
.flashNewsImg img{
    width: 95px;
    height: 90px;
}
.flashNewsContent{
    width: 180px;
}
.flashNewsTitle{
    width: 180px;
}
.flashNewsTitle h2{
    margin: 0;
    padding: 0;
    font-size: 130%;
    text-align: center;
    color: #000000;
}
.flashNewsArticles{
    width: 180px;
    margin: 5px auto;
    padding: 0;
    font-size: 80%;
    text-align: center;
    color: #000000;
}
.flashNewsArticles p{
    margin: 0;
    padding: 0;
}

/* --- SHARECONTINUE --- */
.shareContinue{
    padding: 0;
    margin: 0;
    width: inherit;
}
.shareContinueLatest{
    margin-right: 20px;
}
.shareContinue li{
    margin-left: -20px;
    display: block;
    list-style: none;
}
.shareContinueTabLeft{
    width: 20px;
    height: 20px;
    background: url(img/shareContinueTabLeft.png) right no-repeat;
}
.shareContinueTabCenter{
    border-bottom: 2px solid #ECECEC;
}
.shareContinueTabCenter a{
    text-decoration: none;
    line-height: 1.4;
    font-size: 80%;
    color: #000000;
}
.shareContinueTabRight{
    width: 20px;
    height: 20px;
    background: url(img/shareContinueTabRight.png) left no-repeat;
}


/*---------------------- error ----------------------*/

.error {
	padding: 10px 0;
	border: 1px solid f00;
	border-radius: 5px 5px;
	background: rgba(255, 0, 0, 0.4);
	text-align: center;
	margin: 10px auto;
}

/*---------------------- footer ----------------------*/

#footer {
	width: 916px;
	margin: 0 auto;
}

#references {
	height: 28px;
	background-color: #ECECEC;
}
#references div {
	margin: 0 auto;
	padding: 4px 10px 6px 10px;
	font-size: 85%;
}
#references .right {
	font-size: 80%;
	padding: 6px 10px 6px 10px;
}

#footerAdvertise{
	background-color: #4B658F;
}
.ad_footerAdvertise img {
	padding: 10px 8px;
	width: 900px;
	height: 36px;
}

#copyright{
	height: 35px;
	font-size: 85%;
	margin-bottom: 10px;
}

#copyright .left{
	height: 23px;
	width: 12px;
	background: url(img/tabLeftFooter.png)
}
#copyrightMenu{
	width: 892px;
	height: 23px;
	float: left;
	font-size: 80%;
	background-color: #ECECEC;
}
#copyrightMenu ul{
	margin-top: 4px;
	padding: 0 260px;
}
#copyrightMenu li{
	display: inline;
	padding-left: 15px;
}
#copyrightMenu a{
	text-decoration: none;
	color: #4B658F;
}
#copyrightMenu a:hover{
	text-decoration: underline;
}
#copyright .right{
	height: 23px;
	width: 12px;
	background: url(img/tabRightFooter.png)
}


/*---------------------- altro ----------------------*/

.left {
    float: left;
}
.right{
    float: right;
}
.clear{
    clear: both;
}
