body{
    background: #FFFFFF;
    margin: 0 auto;
    padding: 0;
    font-family: Helvetica, Arial;
    color: #000000;
}

body p{
	margin: 0;
	padding: 0;
}

/*---------------------- clear ----------------------*/
.clear {	
	clear: both;
}

/*---------------------- header ----------------------*/
#header{
	width: 916px;
	margin: 0 auto;
	background: #FFFFFF;
}

/*---- WIDGET ----*/
#widget{
	height: 35px;
	width: 916px;
	line-height: 2.3;
}
#widget p{
	display: inline;
}

#widgetLeft{
	width: 12px;
	height: inherit;
	background: url(img/tabLeft.png) no-repeat;
}

#widgetCenter{
	width: 892px;
	height: inherit;
	background: #ECECEC;
}

#widgetCenterLeft{
	width: 445px;
	height: inherit;
	background: #ECECEC;
}

#login{
	margin-left: 5px;
}
#widgetCenterLeft input{
	/*border: none;*/
}
#widgetCenterLeft .button{
	height: 22px;
	width: 67px;
	background: url(img/button.png) center no-repeat;
	border: none;	
}
#widgetCenterLeft .button:active{
	height: 22px;
	width: 67px;
	color: #ECECEC;
	background: url(img/buttonRoll.png) center no-repeat;
}
.welcome{
	height: 30px;
	width: 70px;
	line-height: 2.8;
	font-size:80%;
}
.welcome a{
	padding: 6px 14px;
	background: url(img/button.png) center no-repeat;
	text-align: center;
	text-decoration: none;
	color: #000000;
	border: none;
}
.welcome a:active{
	height: 30px;
	width: 70px;
	color: #ECECEC;
	background: url(img/buttonRoll.png) center no-repeat;
	text-decoration: none;
}

#widgetCenterRight{
	width: 445px;
	height: inherit;
	background: #ECECEC;
}

#wsearch{
	height: 32px;
	width: 159px;
	margin-left: 5px;
	line-height: 2.4;
	float: right;
}
#wsearch input[type=submit] {
	height: 24px;
	width: 20px;
	line-height: 2;
	border: none;
	background: url(img/magnify.png) center no-repeat;
}

#meteo{
	height: 35px;
	width: 60px;
	background: url(img/meteoButton.png);
	float: right;
}
#meteo img{
	margin-top: 8px;
	margin-right: 13px;
}

#widgetRight{
	width: 12px;
	height: inherit;
	background: url(img/tabRight.png) no-repeat;
}

/*---- MENU CITY ----*/
#menuCity{
	margin: 0;
	padding: 8px 0;
	font-size: 80%;
	font-variant: small-caps;
	font-weight: bold;
	text-align: center;
	background: #4B658F;
}
#menuCity li{
	margin: 0 3px;
	display: inline;
}
#menuCity a{
    text-decoration: none;
    color: #ECECEC;
}
#menuCity a:hover{
    text-decoration: underline;
}

/*---- LOGO ----*/
#logo{
    width: 916px;
}
#logo img{
    width: 272px;
    height: 125px; 
    margin: 10px 321.5px;
}

/*---- DATE ----*/
#date{
    height: 22px;
    margin-top: -10px;
    color:  #838383;
    font-size: 75%;
    font-style: italic;
    text-align: center;	
}

/*---- MENU CATEGORIES ----*/
#menuCategories{
	width: 916px;
	margin-top: -13px;
	line-height: 2.2;
	font-size: 70%;
	font-variant: small-caps;
	font-weight: bold;
	text-align: center;
	background: #4B658F;
}
#menuCategories ul{
	height: 28px;
	padding: 5px 0 0 0;
	position: relative;
	display: block;
}
.menuCategoriesLink, .menuCategoriesSubLink li {
	list-style: none;
	float: left;
}
#menuCategories ul ul {
	width: 916px;
	height: 28px;
	background: #ECECEC;
	visibility: hidden;
	position: absolute;
	margin-top: 28px;
	left: 0;			
}

#menuCategories li a{
	height: 28px;
	display: block;
	text-decoration: none;
	text-align: center;
	color: #ECECEC;
} 
#menuCategories li li a{
	width: 83px;
	color: #4B658F;
}
#menuCategories li li a:hover{
	text-decoration: underline;
}
#menuCategories ul li:hover a{
	color: #4B658F;
	background: #ECECEC;
}
.menuCategoriesLink > div {
	float:left;
}
.menuCategoriesLink > div > div {
	float:left;
}
.menuCategoriesLink:hover .menuCategoriesLinkTabLeft {
	background: url(img/menuCategoriesLinkLeft.png) bottom no-repeat;
}
.menuCategoriesLink:hover .menuCategoriesLinkTabRight {
	background: url(img/menuCategoriesLinkRight.png) bottom no-repeat;
}
#menuCategories ul li:hover ul{
	visibility: visible;
}
.menuCategoriesLink{
	height: 28px;
}
.menuCategoriesLinkTabLeft{
	width: 16px;
	height: 30px;
	margin-left: 2px;
	float:left;
}
.menuCategoriesLinkTabRight{
	width: 16px;
	height: 30px;
	margin-right: 2px;
	float:left;
}

.left {
	float:left;
}

.clear{
    clear: both;
}

/*---------------------- page ----------------------*/
#content {
	width: 900px;
	margin: 0 auto;
}



/*---------------------- home.html ----------------------
  ---------------------- articles -----------------------*/
#articles{
	width: 600px;
	float: left;
}
#articles .news{
	width: 590px;
	margin: 0 10px 0 0;
	background: #FFFFFF;
}
#articles .title{
	padding: 0 15px;
}
#articles .title a:link, a:visited{
	text-decoration: none;
	color: #000000;	
}
#articles .title a:hover{
	text-decoration: underline;
}
#articles .text{
	padding: 0 15px;
	text-align: justify;
}
.text img{
	padding: 0 10px 5px 0;
	float: left;
}
#articles .author{
	font-style: italic;
	padding: 0 15px 5px 15px;
	text-align: right;
}

.comments .avatarComments{
	width: 55px;
	padding: 5px 0 0 5px;
	float: left;
}
.avatarComments img{
	border: 1px solid #000000;
	
}
#authorText{
	width: 240px;
	background: #FFFFFF;
	float: left;
}
.commentsAuthor{
	text-align: left;
}
.commentsText{
	text-align: left;
}
.bold{
	margin: 0;
	padding: 0;
	background: #000000;
	color: #FFFFFF;
	
}
/*---------------------- shortArticles ----------------------*/
#shortArticle{
	width: 300px;
	float: left;
}
#shortArticle .news{
	width: 300px;
	background: #FFFFFF;
}
#shortArticle .title{
	padding: 0 15px;
}
#shortArticle .title a:link, a:visited{
	text-decoration: none;
	color: #000000;	
}
#shortArticle .title a:hover{
	text-decoration: underline;
}
#shortArticle .text{
	padding: 0 15px;
	text-align: justify;
}
#shortArticle .author{
	font-style: italic;
	padding: 0 15px 5px 15px;
	text-align: right;
}

/*-----------ALTRO-----------*/
.medium {
	width: 435px;
}
.left {
	float: left;
}
.large {
	width: 570px;
	padding: 10px;
	margin: 10px 10px 0 0;
	float: left;
	background: rgba(255, 255, 255, 0.6);
}
.largest {
	width: 880px;
	margin-top: 10px;
	padding: 10px;
	background: rgba(230, 230, 230, 0.5);
}
.side {
	width: 280px;
	padding: 10px;
	margin: 10px 10px 0 0;
	float: left;
	background: rgba(255, 255, 255, 0.4);
}
.right {
	margin-right: 0;
	float: right;
}
.comments{
	width: 300px;
	background: rgba(255, 255, 255, 0.4);
	margin: 10px 10px 0 0;
	float: left;
}
.seeAlso{
	width: 260px;
	margin-top: 10px;
	background: #FFFFFF;
	float: left;
}

/*----------------POST----------------*/
.post {
	font-family: "Times New Roman", Times, serif;
	padding-bottom: 10px;
	margin-bottom: 20px;
	border-bottom: 1px solid #000;
}
.news {
	/*background-color: rgba(0, 255, 94, 0.4);*/
}
.magazine {
	/*background-color: rgba(38, 130, 0, 0.4);*/
}
.videoreportage {
	/*background-color: rgba(255, 93, 96, 0.4);*/
}
.playlist {
	/*background-color: rgba(255, 0, 0, 0.4);*/
}
.photoreportage {
	/*background-color: rgba(60, 206, 255, 0.4);*/
}
.album {
	/*background-color: rgba(0, 128, 255, 0.4);*/
}
.collection {
	/*background-color: rgba(204, 204, 204, 0.4);*/
}
.pb_header {
	margin-bottom: 5px;
	padding: 0;
}
.post_creationDate {
	float: right;
	font-size: 14px;
}
.post_categories{
	float: left;
	font-size: 14px;
}
.post_header {
	margin-bottom: 10px;
	padding: 0;
}
.post_headline {
	font-size: 14px;
}
.post_title, .title {
	font-size: 28px;
	font-weight: bold;
}
.post_title.small_title {
	font-size: 16px;
}
.post_subtitle {
	font-style: italic;
	font-size: 18px;
}
.post_content {
	font-size: 14px;
	text-align: justify;
	margin-bottom: 10px;
	padding: 0;
}
.post_authorname {
	font-size: 14px;
	float: right;
	font-weight: bold;
	text-decoration: none;
}
.post_footer {
	/*background-color: rgba(255,255,88,0.5);*/
	margin-bottom: 10px;
	padding: 5px 0;
}
.post_modificationDate {
	font-size: 12px;
}
.post_tags {
	font-size: 12px;
}
.post_place {
	text-transform: uppercase;
}
.post_comments {
	/*background-color: rgba(179,179,179,0.5);*/
	padding: 10px 0;
}
.comment {
	font-size: 14px;
	text-align: justify;
}
.post_vote {
	font-size: 14px;
	float: right;
}
.vote_image {
	float: left;
	margin-right: 10px;
}
.error {
	padding: 10px 0;
	border: 1px solid f00;
	border-radius: 5px 5px;
	background: rgba(255, 0, 0, 0.4);
	text-align: center;
	margin: 10px auto;
}
.category_splash {
	margin-top: 10px;
	padding: 10px 10px;
	border-radius: 10px 10px;
	height: 170px;
	border: 1px solid 000;
}
.category_splash_1 {
	background: rgba(255, 255, 0, 0.4);
	border-color: ff0;
}
.category_splash_2 {
	background: rgba(255, 204, 0, 0.4);
	border-color: f90;
}
.category_splash_3 {
	background: rgba(255, 0, 0, 0.3);
	border-color: f00;
}
.category_splash_4 {
	background: rgba(0, 204, 0, 0.4);
	border-color: 0c0;
}
.category_splash_5 {
	background: rgba(204, 255, 204, 0.6);
	border-color: 9f9;
}
.category_splash_6 {
	background: rgba(0, 204, 255, 0.3);
	border-color: 09f;
}
.category_splash_7 {
	background: rgba(0, 0, 255, 0.4);
	border-color: 00f;
}
.category_splash_8 {
	background: rgba(204, 0, 255, 0.4);
	border-color: 90f;
}
.category_splash_name {
	font-size: 12px;
	text-transform: uppercase;
	font-weight: bold;
	float: right;
}
.category_tree {
	height: 150px;
	overflow-y: scroll;
	border: 1px solid #999999;
	margin-left: 2px;
	background: white;
}
.category_tree li {
	list-style-type: none;
}
.category_tree_level_0 {
	margin: 0;
	padding: 0;
}
.category_tree_level_0 ul {
	padding-left: 20px;
}
#footerBackground {
	margin-top: 10px;
	width: 100%;
	background-color: #000;
}
#references {
	width: 100%;
	background-color: #FF6600
}
#references p {
	border-left: 1px solid #FE9;
	border-right: 1px solid #000;
	border-bottom: 1px solid #000;
	border-bottom-left-radius: 5px 5px;
	border-bottom-right-radius: 5px 5px;
	margin: 0 auto;
	width: 878px;
	padding: 4px 10px 6px 10px;
	height: 14px;
	font-size: 14px;
}
#references em {
	float: right;
}
#footer {
	color: #ff6600;
	width: 900px;
	margin: 0 auto;
	padding: 10px 0;
}
#footer a {
	color: #fe9;
}
#footer a:hover {
	color: #f60;
}
.ad_footer {
	float: left;
	background-color: red;
}
.ad_footer img {
	border: 0;
	width: 700px;
	height: 36px;
}
#license {
	float: right;
	font-size: 10px;
	text-align: right;
}
input.post_title, input.post_subtitle, input.post_headline {
	width: 100%;
	font-family: "Times New Roman", Times, serif;
}
input.tags {
	width: 100%;
}
.mini_map {
	width:100%;
	height: 200px;
}
.hidden {
	display: none;
}